.navbar{
    background-color: green !important;
    border: 0 !important;
}

.a-nav{
    color: white !important;
    font-size:medium;
}

.a-nav:hover{
    color: lightgrey !important;
}

.navbar-default .navbar-nav>.open>a.dropdown-toggle{
    background-color: rgb(1, 110, 1) !important;
}

label{
    font-size: medium !important;
}

.peso{
    font-weight: bold;
}

section{
    margin-left: 5px; 
    margin-right:5px;
}
td{
    font-size: medium !important;
}

.modal-body td.total{
    padding-left: 15px;
}

@media (max-width:768px){
    .dropdown-menu{
        background-color: white !important;
    }

    section .grasas, section .grasasT{
        display: none;
    }

    section .hidratos, section .hidratosT{
        display: none;
    }

    section .proteinas, section .proteinasT{
        display: none;
    }

    section .saturadas, section .saturadasT{
        display: none;
    }

    section .sal, section .salT{
        display: none;
    }

    section .azucares, section .azucaresT{
        display: none;
    }

    section{
        margin-left: 0px !important; 
        margin-right:0px !important;
    }

    footer{
        position: relative;
    }
}


