
.navbar{
    background-color: green !important;
}

.a-nav{
    color: white !important;
    font-size:medium;
}

.a-nav:hover{
    color: lightgrey !important;
}

section p{
    font-size: medium;
}

.bg-lightgreen{
    background-color: lightgreen;
    padding: 10px;
}

@media (max-width:768px){
    body>div{
        margin-top: 150px;
    }
}